<form class="" action="/students" method="post">
  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field"/>

  <label for="second-name-field">Second Name:</label>
  <input type="text" name="second_name" id="second-name-field"/>

  <label for="house-field">House Name:</label>
<select class="" name="house" id="house-field">
  <option value="1">Hufflepuff</option>
  <option value="2">Gryffindor</option>
  <option value="3">Slytherin</option>
  <option value="4">Ravenclaw</option>
</select>

<label for="age-field">Age:</label>
  <input type="number" name="age" id="age-field"/>

  <input type="submit" name="" value="Create Student Profile"/>
</form>
